
<div class="loginpage">
<div class="login text-center">
  <h1 class="text-white display-3">Login</h1>
    <form method="post" style="display:inline">
        <input type="text" name="username" placeholder="Username" required="required" id='username' />
        <input type="password" name="password" placeholder="Password" required="required" id='password'/>
        <button type="submit" class="btn btn-success btn-block px-4">Login</button>
    </form>
        <button type="submit" class="btn btn-warning btn-block btn-large register">Register</button>
</div>

</div>

