
<div class="loginpage">
<div class="login text-center">
  <h1 class="text-white display-3">Login</h1>
    <form method="post" style="display:inline">
        <input class='login' type="text" name="username" placeholder="Username" required="required" id='username' />
        <input class='login' type="password" name="password" placeholder="Password" required="required" id='password'/>
        <button type="submit" class="btn btn-success btn-block px-4">Login</button>
    </form>
        <button type="submit" class="btn btn-warning btn-block btn-large register">Register</button>
</div>

</div>

<div>
<h2 class="text-center text-white fw-light ">Take Note. Save Paper.</h2>
<p class="mt-4 text-center text-white fw-light fst-italic"> J'ai mal écrit mon mot de passe et la connexion a échoué.</p>
</div>

