<h1 class="topichead text-center text-warning">Write note. Save thoughts.</h1>

<h3 class="topichead text-center">Welcome back, {{user}} </h3>



<div class="container-fluid">
<div class="row">
  <div class="col">
  <form ref='note' id='note' method='post' >
    <div class='row'>
        <div class="form-group col-md-6">
            <h4 class="text-center text-info">Write Note</h4>
            <textarea class="form-control mb-2" type="text" name="newNote" id="newNote" rows='3' 
                placeholder="Add new Note" required></textarea>
            <button class="btn btn-info" type="submit" id='submit'>Add Note</button>
        </div>
    <div class="col-md-6">
        <h4 class="text-center text-info">Notes:</h4>
            {{#each notes}}
            <div class="note text-center">
                <span class="input"></span><textarea cols='50' id="{{ this.id }}">{{ this.note }}</textarea></span>
                <button class="remove btn btn-xs text-danger trash"><i  data-deletebutton="{{ this.id}}" class="fa fa-2x fa-trash"
                        aria-hidden="true"></i></button>

            </div>
            {{/each}}
    </div>

        </div>
        </div>
    </form>
</div>



</div>

</div>


