body {
  background-image: url("/image/roberto-nickson-b1ovoL_F1S8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.topichead {
  margin-bottom: 1rem;
}

.loginpage {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  display: flex;
  justify-content: flex-end;
}
