body {
  background-image: url("/image/roberto-nickson-b1ovoL_F1S8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.topichead {
  margin: 1.5rem;
}

.loginpage {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
